<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
    
    <!-- 전체 매퍼중에서 유일한 값을 사용해야한다. 해서 관계적으로 해당 파일의 패스와 파일이름(확장제외) 그리고 dao에서 namespace와 일치해야한다. -->
	<mapper namespace="com.mycompany.app.infra.codegroup.CodeGroupMapper">
	
	<!-- select 결과를 받을 객체 -->		   
    <resultMap id="resultMapObj" type="com.mycompany.app.infra.codegroup.CodeGroup"></resultMap>
	

	
	<sql id="abc">
		 seq
		, codeGroup_name
		, delNy
	</sql>
	
	 <sql id ="selectCommon">
   		FROM    
	    	codeGroup
		WHERE 1=1
			<if test="getGenkeyword != null and !getGenkeyword.equals('')">AND codeGroup_name LIKE CONCAT('%',#{getGenkeyword},'%')</if>
    </sql>

	
	
	<select id="selectOneCount" resultType="Integer">
		SELECT count(*)
		<include refid="selectCommon" />
	</select>
	
   	<select id="selectList" resultMap="resultMapObj">
		SELECT aa.* FROM (   	
	   		SELECT
				<include refid="abc" />
	   			<include refid="selectCommon" />
		) aa
		LIMIT #{rowNumToShow} OFFSET #{startRnumForMysql}	   			
   	</select>
		
					     		
    
	
			<!-- select
			 seq
			 , gender
			 , name
			 , delNy
		 	from 
		 		codeGroup
		 	whrer 1=1
		 		<if test="genOption != null and !genOption.equals(0)">AND name like concat('%',#{genOption},'%')</if>
		 		<if test="getGenkeyword != null and !getGenkeyword.equals('')">AND name like concat('%',#{getGenkeyword},'%')</if>
		  -->
	
	<select id="selectOne" resultMap="resultMapObj">
		SELECT 
			<include refid="abc"></include>
		FROM
			codeGroup
		WHERE 1=1
			AND seq = #{seq}
	</select>
	<!-- where gender LIKE CONCAT('%' + #{} + '%') -->
	
	<insert id="insertOne">
		INSERT INTO
			codeGroup(
				codeGroup_name
				, delNy
			)
		VALUES(
			#{codeGroup_name}
			, 0
		)
	</insert>
	
	<update id="updateOne">
		UPDATE codeGroup
		SET
			codeGroup_name = #{codeGroup_name}
		WHERE
			seq = #{seq}
	</update>
	
	<update id="uele">
		UPDATE codeGroup
		SET
			delNy = 1
		WHERE
			seq = #{seq}
	</update>
	
	<delete id="deleteOne">
		DELETE FROM
			codeGroup
		WHERE 
			seq = #{seq}
	</delete>
	
	    
</mapper>    