<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
    
    <!-- mapper -->
    <mapper namespace = "com.mycompany.app.infra.noticeBoard.NoticeBoardMapper">
    
    <!-- resultMap -->
    <resultMap id="resultMapObj" type="com.mycompany.app.infra.noticeBoard.NoticeBoard"/>
    	
    	<sql id="_notice">
    		SELECT
    			notice_seq
			    ,noticeTitle
			    ,(
					SELECT
						DPT_name
					FROM
						DPT
					WHERE  1 = 1
						AND seq = DPT_seq
			    ) as DPT_name
			    , noticeContent
			    , noticeDate
    	</sql>
    	
    	<sql id="notice_">
    		FROM 
    			notice
    		WHERE 1=1
    			<if test="getNoticeTitle != null and !getNoticeTitle.equals('')">AND noticeTitle LIKE CONCAT('%',#{getNoticeTitle},'%')</if>
    	</sql>
    	
    	<select id="noticeOneCount" resultType="integer">
    		SELECT
    			COUNT(*)
				<include refid="notice_"/>  
    	</select>
    	
    	<select id="noticeList" resultMap="resultMapObj">
    		SELECT dd.* FROM(
    			<include refid="_notice"/>
	    		<include refid="notice_"/>
    		)dd
    		LIMIT #{rowNumToShow} OFFSET #{startRnumForMysql}
    	</select>
    	
    	<select id="noticeMe" resultMap="resultMapObj">
    		SELECT
			notice_seq
			, noticeTitle
		    , (
				SELECT
					DPT_name
				FROM
					DPT
				WHERE  1 = 1
					AND seq = DPT_seq
		    ) as DPT_name
		    ,	noticeContent
		    , 	noticeDate
		FROM
			notice
		WHERE
			notice_seq = #{notice_seq}
		
    	</select>
    	
    	<insert id="newNotice">
    		INSERT INTO notice(
				noticeTitle
			    , noticeContent
			    , noticeDate
			    , DPT_seq
			) VALUES(
				#{noticeTitle}
			    , #{noticeContent}
			    , #{noticeDate}
			    , #{DPT_seq}
			)
    	</insert>
    	
    	<update id="noticeUpdate">
    		UPDATE notice
    		SET
    			noticeTitle = #{noticeTitle}
    			,noticeContent = #{noticeContent}
    		WHERE 1 = 1
    			AND notice_seq = #{notice_seq}
    	</update>
    	
    	<delete id="cancel">
    		DELET FROM 
    			notice
    		WHERE 1 = 1
    			AND notice_seq = #{notice_seq}
    		
    	</delete>
    </mapper>