<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
	 <!-- mapper -->
	<mapper namespace="com.mycompany.app.infra.cart.CartMapper">
		
		<resultMap id="resultMapObj" type="com.mycompany.app.infra.cart.Cart"></resultMap>
		
		<!-- include -->
		<!-- 칼럼 -->
    	<sql id="cart">
    		seq
    		, quantity
    		, totalPrice
    		, buyDate
    		, userSeq
    		, BookInfo_seq
    	</sql>
    	
    	<!-- 테이블 -->
    	<sql id="cartTable">
			FROM
				cart
			WHERE 1=1
				AND userSeq = #{userSeq}
				<!-- <if test="userSeq != null and !userSeq.equals('')" >AND userSeq LIKE CONCAT('%',#{userSeq},'%')</if> -->
				
    	</sql>
		
    	
    	
		<select id="cartCount" resultType="Integer">
			SELECT count(*)
			<include refid="cartTable"/>
		</select>
    	
    	
		<select id="myCartList" resultMap="resultMapObj">
			SELECT ca.*(
				SELECT
				<include refid="cart"/>
				<include refid="cartTable"/>
			) ca
			LIMIT #{rowNumToShow} OFFSET #{startRnumForMysql}
		</select>
		
    	
    	<insert id="add_cart">
    		INSERT INTO cart(
    		 quantity
    		, price
    		, buyDate
    		, userSeq
    		, BookInfo_seq
    		)VALUES(
    		 #{quantity}
    		, #{price}
    		, #{buyDate}
    		, #{userSeq}
    		, #{BookInfo_seq}
    		)
    	</insert>
    	
    	<update id="transCart">
			UPDATE cart
			SET
				quantity = #{quantity}
			WHERE
				seq = #{seq}
		</update>
		
		<delete id="cancel">
			DELETE FROM
				cart
			WHERE
				seq = #{seq}
		</delete>
    	
    </mapper>

		

		
		
