<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
    <!-- 전체 매퍼중에서 유일한 값을 사용해야한다. 해서 관계적으로 해당 파일의 패스와 파일이름(확장제외) 그리고 dao에서 namespace와 일치해야한다. -->
<mapper namespace="com.mycompany.app.infra.code.CodeMapper">
				     		
	<!-- select 결과를 받을 객체 -->		   
    <resultMap id="resultMapObj" type="com.mycompany.app.infra.code.Code"></resultMap>
    <sql id="def">
    	seq
    	,code_id
    	,code_value
    	,code_description
    	,sort
    	, delNy
    	, codeGroup_seq
    </sql>
    
    <sql id="selectUncommon">
    	FROM
    		code
    	WHERE 1=1	
    		<if test="ageKeyword != null and !ageKeyword.equals('')">AND age like concat('%',#{ageKeyword},'%')</if>
    </sql>
    
    <select id="selectOneCount" resultType="Integer">
		SELECT count(*)
		<include refid="selectUncommon" />
	</select>
    
    
	<select id="codeSelectList" resultMap="resultMapObj">
		SELECT bb.* FROM(
			SELECT
				<include refid="def"/>
				<include refid="selectUncommon"></include>
		) bb
		LIMIT #{rowNumToShow} OFFSET #{startRunMForMysql}

		<!--  SELECT 
		 	*
		 FROM
		 	code
		 where 1=1
		 AND age like concat('%','3','%')
		 	 <if test="ageKeyword != null and !ageKeyword.equals('')">AND age like concat('%',#{ageKeyword},'%')</if> -->
	</select>
	
			<!-- select
			 seq
			 , gender
			 , name
			 , delNy
		 	from 
		 		codeGroup
		 	where 1=1
		 		<if test="genOption != null and !genOption.equals(0)">AND name like concat('%',#{genOption},'%')</if>
		 		<if test="getGenkeyword != null and !getGenkeyword.equals('')">AND name like concat('%',#{getGenkeyword},'%')</if>
		  -->
	
	<select id="codeSelectOne" resultMap="resultMapObj">
		SELECT 
			<include refid="def"></include>
		FROM
			code
		WHERE 1=1
		    AND	seq = #{seq}
	</select>
	<!-- where gender LIKE CONCAT('%' + #{} + '%') -->
	
	<insert id="codeInsert">
		INSERT INTO
			code(
				code_id
    			, code_value
    			, code_description
    			, sort
    			, delNy
    			, codeGroup_seq
			)
		VALUES(
			#{code_id}
			, #{code_value}
			, #{code_description}
			, #{sort}
			, 0
			, #{codeGroup_seq}
		)
	</insert>
	
	<update id="codeUpdate">
		UPDATE code
		SET
			code_value = #{code_value}
    		, code_description = #{code_description}
    		, sort = #{sort}
		WHERE
			seq = #{seq}
	</update>
	
	<update id="codeUelete">
		UPDATE code
		SET
			delNy = 1
		WHERE
			seq = #{seq}
	</update>
	
	<delete id="codeDelete">
		DELETE FROM
			code
		WHERE 
			seq = #{seq}
	</delete>
	
	    
</mapper>    