<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

    <mapper namespace = "com.mycompany.app.infra.useraccount.UserAccountMapper">
    
    <resultMap id="resultMapObj" type="com.mycompany.app.infra.useraccount.UserAccount" />
    
    	<sql id="user_val">
    		seq
    		, userID
    		, userPW
    		, userName
    		, gender
    		, userStatus
    	</sql>
    	
    	<sql id="user_db">
    		FROM
    			userAccount
    		WHERE 1=1 
    			AND userName LIKE CONCAT('%',#{userNameWord},'%') 
    	</sql>
    	
    	<select id="selectOneCount" resultType="Integer">
			SELECT count(*)
			<include refid="user_db" />
		</select>
    	
    	<select id="userAll" resultMap="resultMapObj">
    		SELECT cc.* FROM (   	
	   		SELECT
				<include refid="user_val" />
	   			<include refid="user_db" />
			) cc
			LIMIT #{rowNumToShow} OFFSET #{startRnumForMysql}	   
    	</select>
    	
    	<select id="userOne" resultMap="resultMapObj">
    		SELECT
    			<include refid="user_val" />
    		FROM
    			userAccount
    		WHERE 1=1
    			AND seq = #{seq}
    	</select>
    	
    	<select id="loginUserOne" resultMap="resultMapObj">
    		SELECT
    			seq
    			, userID
    			, userPW
    			, userName
    		FROM
    			userAccount
    		WHERE 1=1
    			AND userID = #{userID}
    			AND userPW = #{userPW}
    	</select>
    	
    	<select id="dulicateI"  resultType="Integer">
    		SELECT
    			COUNT(seq)
    		FROM
    			userAccount
    		WHERE 1=1
    			AND userID = #{userID}
    	</select>
    	
    	<insert id="userJoin">
    		INSERT INTO
    			userAccount
    		(
    			userID
    			, userPW
    			, userName
    			, gender
    			, userStatus
    		)VALUES(
				#{userID}
				, #{userPW}
				, #{userName}
				, #{gender}
				, 0
    		)
    	</insert>
    	
    	<update id="userUpdate">
    		UPDATE userAccount
    		SET
    			userPW = #{userPW}
    			userName = #{userName}
    			userAge = #{userAge}
    			gender = #{gender}
    		WHERE 1=1
    			AND seq = #{seq}
    	</update>
    	
    	<update id="userUelete">
    		UPDATE userAccount
    		SET
    			userStatus = 1
    		WHERE 1 = 1
    			AND seq = #{seq}
    	</update>
    	
    	<delete id="userCut">
    		DELETE FROM
    			userAccount
    		WHERE
    			seq = #{seq}
    	</delete>
    	
    	<!-- uploaded s -->
	<insert id="insertUploaded">
		INSERT INTO ${tableName} (
			type
			,defaultNy
			,sort
			,path
			,originalName
			,uuidName
			,ext
			,size
			,delNy
			,pseq
		) values (
			#{type}
			,#{defaultNy}
			,#{sort}
			,#{path}
			,#{originalName}
			,#{uuidName}  
			,#{ext}
			,#{size}
			,0
			,#{pseq}
		)
	</insert>
    	
    </mapper>