@charset "UTF-8";

/* 리셋 */
*{margin: 0; padding: 0;}
ul{list-style: none;}
a {text-decoration: none;}


/* 헤드 */
#head_backg{height: 250px; box-sizing: border-box; background-color: rgba(250, 150, 150, 0.3);}
.wrap_container{width: 66%; margin: auto; box-sizing: border-box;}

#title_box{height: 172px; box-sizing: border-box;}
#title_box_title {margin: 30px 0 30px 0 ; height: 54px;}
#head_nav_bar{height: 28px; box-sizing: border-box;}

/* nav */
nav{height: 50px; padding-top: 5px; box-sizing: border-box;} 

/* section */
section {height: 800px; overflow: auto; position: relative;}
#section_content {height: 350px; box-sizing: border-box;}
#section_content_sec1{background-color: aliceblue;}
#section_content_nav1{background-color: aliceblue;}
#section_content_sec2{background-color: aliceblue;}
#section_content_nav2{background-color: aliceblue;}
#section_content_sec3{background-color: aliceblue;}
#section_content_nav3{background-color: aliceblue;}


/* 리뷰 집계 박스 */
#re_box{
    height: 270px;
    box-sizing: border-box;
    padding: 10px;
    border-radius: 30px;
    background-color: rgba(0, 0, 0, .1);
}

/* 리뷰 세로 그래프 바 */
.vertical_bar{
    width: 20px;
    height: 180px;
    position: relative;
    margin: auto;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, .2);
}

.vertical_bar_fill{
    width: 20px;
    height: 20%;
    position: absolute;
    bottom: 0;
    border-radius: 10px;
    background-color: cornflowerblue;
}

/* 공지사항 CSS & QnA */
#notice_head{height: 95px; box-sizing: border-box; padding: 20px;}
#notice_head h1{margin: 0;}

/* 좌측 팝업 리모콘 */
#popup_remote{width: 150px; height: 380px; box-sizing: border-box; position: absolute; left: 85px; bottom: 100px;}

/* foooter */
footer {height:150px; background-color: lavenderblush;}